# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE
.vscode/
.idea/

# Logs
*.log

# Other projects
closetly/
Jobscan/
Documents/
Downloads/
Desktop/
Applications/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
my-drupal-site/
portfolio/
roommate-portal/
OrbStack/

# Hidden files
.*
!.gitignore

# Temp files
*.tmp
*.temp